<div>
    <mat-form-field>
        <input matInput placeholder="Nombres" [(ngModel)]="search.codAlterno">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Apellidos" [(ngModel)]="search.codOriginal">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="CMP" [(ngModel)]="search.descripcion" max="15" maxlength="15" type="text">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="foto" [(ngModel)]="search.marca">
    </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="buscar()">Aceptar</button>


