<!-- scroll horizontal & vertical -->

<div class="border-bottom title-part-padding">
    <h4 class="card-title mb-0">
        Scroll - Vertical &amp; Horizontal
    </h4>
</div>

    <h6 class="card-subtitle mb-3">
        In 
    </h6>
    <div class="table-responsive">
        <table id="scroll_ver_hor" class="table table-striped table-bordered display nowrap" style="width: 100%">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                    <th>Extn.</th>
                    <th>E-mail</th>
                </tr>
                <tr>
                    <th>
                        <input type="text" placeholder="H">
                    </th>
                    <th>
                        <input type="text" placeholder="H">
                    </th>
                    <th>
                        <input type="text" placeholder="H">
                    </th>
                    <th>
                        <input type="text" placeholder="H">
                    </th>
                    <th>
                        <input type="text" placeholder="H">
                    </th>
                    <th>
                        <input type="text" placeholder="H">
                    </th>
                    <th>
                        <input type="text" placeholder="H">
                    </th>
                    <th>
                        <input type="text" placeholder="H">
                    </th>
                    <th>
                        <input type="text" placeholder="H">
                    </th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Jackson</td>
                    <td>Bradshaw</td>
                    <td>Director</td>
                    <td>New York</td>
                    <td>65</td>
                    <td>2008/09/26</td>
                    <td>$645,750</td>
                    <td>1042</td>
                    <td>j.bradshaw@datatables.net GDFSFFFFFFFFFFFFFF</td>
                </tr>
      
            </tbody>
        </table>
    </div>




<footer class="footer text-center">
    All Rights Reserved by Adminpro admin.
</footer>