<form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()" >

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label >Costo</mat-label>

        <input matInput placeholder="Costo" required formControlName="costo">
        <mat-error  *ngIf="form.controls['costo'].hasError('required')">
            Este campo es obligatorio
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label >Pais</mat-label>

        <input matInput placeholder="Pais" required formControlName="pais">

        <mat-error  *ngIf="form.controls['pais'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label >Codigo Alterno</mat-label>

        <input matInput placeholder="Orden" required formControlName="codAlterno">
        <mat-error  *ngIf="form.controls['codAlterno'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label >Codigo Original</mat-label>

        <input matInput placeholder="Codigo Original" required formControlName="codOriginal">
        <mat-error  *ngIf="form.controls['codOriginal'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label >Descripcion</mat-label>

        <input matInput placeholder="Descripcion" required formControlName="descripcion">
        <mat-error  *ngIf="form.controls['descripcion'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label >Numero de Factura</mat-label>

        <input matInput placeholder="Numero de Factura" required formControlName="facturanumero">
        <mat-error  *ngIf="form.controls['facturanumero'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label >Fecha de Factura</mat-label>

        <input matInput placeholder="Fecha de Factura" required formControlName="fechaIngreso">
        <mat-error  *ngIf="form.controls['fechaIngreso'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label >Adicional Factura</mat-label>

        <input matInput placeholder="Adicional Factura" required formControlName="tercero">
        <mat-error  *ngIf="form.controls['tercero'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label >Ganancia</mat-label>

        <input matInput placeholder="Ganancia" required formControlName="ganancia">
        <mat-error  *ngIf="form.controls['ganancia'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label >Moneda</mat-label>

        <input matInput placeholder="Moneda" required formControlName="moneda">
        <mat-error  *ngIf="form.controls['moneda'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>


    
    <mat-form-field>
        <input type="text" placeholder="Proveedor" matInput [matAutocomplete]="autoProveedor" 
        [formControl]="myControlProveedor" formControlName="proveedor">
        
        <mat-autocomplete autoActiveFirstOption  #autoProveedor="matAutocomplete" [displayWith]="mostrarProveedor">
            <mat-option *ngFor="let m of ProveedorFiltrados$ | async" [value]="m">
                {{ m.nombrecomercial }} 
            </mat-option>
        </mat-autocomplete>
        <mat-error  *ngIf="form.controls['proveedor'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input type="text" placeholder="Clase" matInput [matAutocomplete]="autoClase" 
        [formControl]="myControlClase" formControlName="clase">
        
        <mat-autocomplete autoActiveFirstOption  #autoClase="matAutocomplete" [displayWith]="mostrarClase">
            <mat-option *ngFor="let m of ClaseFiltrados$ | async" [value]="m">
                {{ m.nombre }} 
            </mat-option>
        </mat-autocomplete>
        <mat-error  *ngIf="form.controls['clase'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input type="text" placeholder="Marca Vehiculo" matInput [matAutocomplete]="autoMarcaVehiculo" 
        [formControl]="myControlMarcaVehiculo" formControlName="marcavehiculo">
        
        <mat-autocomplete autoActiveFirstOption  #autoMarcaVehiculo="matAutocomplete" [displayWith]="mostrarMarcaVehiculo">
            <mat-option *ngFor="let m of MarcaVehiculoFiltrados$ | async" [value]="m">
                {{ m.nombre }} 
            </mat-option>
        </mat-autocomplete>
        <mat-error  *ngIf="form.controls['marcavehiculo'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input type="text" placeholder="Marca" matInput [matAutocomplete]="autoMarca" 
        [formControl]="myControlMarca" formControlName="marca">
        
        <mat-autocomplete autoActiveFirstOption  #autoMarca="matAutocomplete" [displayWith]="mostrarMarca">
            <mat-option *ngFor="let m of MarcaFiltrados$ | async" [value]="m">
                {{ m.nombre }} 
            </mat-option>
        </mat-autocomplete>
        <mat-error  *ngIf="form.controls['marca'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>


    <mat-form-field>
        <input type="text" placeholder="Unidad" matInput [matAutocomplete]="autoUnidad" 
        [formControl]="myControlUnidad" formControlName="unidad">
        
        <mat-autocomplete autoActiveFirstOption  #autoUnidad="matAutocomplete" [displayWith]="mostrarUnidad">
            <mat-option *ngFor="let m of UnidadFiltrados$ | async" [value]="m">
                {{ m.nombre }} 
            </mat-option>
        </mat-autocomplete>
        <mat-error  *ngIf="form.controls['unidad'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>
   


    <button mat-raised-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" (click)="cerrar()" type="button"><mat-icon>close</mat-icon>
        <span>Cancelar</span></button>
   
</form>

