<!-- scroll horizontal & vertical -->

<div class="border-bottom title-part-padding">
  <div class="row">
    <div class="col-md-4 col-xl-2">

      <input type="text" class="form-control product-search" id="input-search" placeholder="Search Contacts..." />

    </div>
    <div class="
              col-md-8 col-xl-10
              text-end
              d-flex
              justify-content-md-end justify-content-center
              mt-3 mt-md-0
            ">
      <div class="action-btn show-btn" style="display: none">
        <a href="javascript:void(0)" class="
                  delete-multiple
                  btn-light-danger btn
                  me-2
                  text-danger
                  d-flex
                  align-items-center
                  font-weight-medium
                ">
          <i data-feather="trash-2" class="feather-sm fill-white me-1"></i>
          Delete All Row</a>
      </div>
      <button type="button" class=" btn btn-lg px-4 fs-4 font-weight-medium btn btn-info" data-bs-toggle="modal"
        data-bs-target="#addContactModal" data-bs-whatever="@getbootstrap"> <i data-feather="users"
          class="feather-sm fill-white me-1">
        </i>
        Agregar
      </button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table id="scroll_ver_hor" class="table table-hover table-warning table-bordered display nowrap tabla-hover" style="width: 100%">
    <thead class="">
      <tr>
        <th>Id</th>
        <th>Staturs</th>

        <th>Nombre</th>
        <th>Estado</th>
        <th>F_Cr</th>
        <th>F_ACT</th>
        <th>Actions</th>
      </tr>
      <tr>
        <th>
          <input type="text" class="form-control product-search" placeholder="Buscar..">
        </th>
        <th>
          <input type="text" class="form-control product-search" placeholder="Buscar..">
        </th>
        <th>
          <input type="text" class="form-control product-search" placeholder="Buscar..">
        </th>
        <th>
          <input type="text" class="form-control product-search" placeholder="Buscar..">
        </th>
        <th>
          <input type="text" class="form-control product-search" placeholder="Buscar..">
        </th>
        <th>
          <input type="text" class="form-control product-search" placeholder="Buscar..">
        </th>
        <th>
         
        </th>

      </tr>
    </thead>
    <tbody class="bg-warning">

      <tr *ngFor="let element of data" class="hover">
        <td>
          <span class="
                                badge
                                bg-light-danger
                                text-danger
                                font-weight-medium
                              ">Closed</span>
          <span class="
                        badge
                        bg-light-success
                        text-success
                        font-weight-medium">
            Opened</span>
        </td>

        <td>{{element.nombre}}</td>
        <td>Bradshaw</td>
        <td>Director</td>


        <td>a</td>
        <td>a</td>
        <td>
          <div class="action-btn">
            <a class="text-info edit"><i data-feather="eye" class="feather-sm fill-white"></i></a>
            <a class="text-dark delete ms-2"><i data-feather="trash-2" class="feather-sm fill-white"></i></a>
          </div>
        </td>

      </tr>

    </tbody>
    <tfoot>
      <th>Id</th>
      <th>Staturs</th>

      <th>Nombre</th>
      <th>Estado</th>
      <th>F_Cr</th>
      <th>F_ACT</th>
      <th>Actions</th>
    </tfoot>

  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)">
  </mat-paginator>


</div>






<!-- Modal -->
<div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="addContactModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title">Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="add-contact-box">
          <div class="add-contact-content">
            <form id="addContactModalTitle">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3 contact-name">
                    <input type="text" id="c-name" class="form-control" placeholder="Name" />
                    <span class="validation-text text-danger"></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3 contact-email">
                    <input type="text" id="c-email" class="form-control" placeholder="Email" />
                    <span class="validation-text text-danger"></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3 contact-occupation">
                    <input type="text" id="c-occupation" class="form-control " placeholder="Occupation" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="mb-3 contact-phone">
                    <input type="text" id="c-phone" class="form-control" placeholder="Phone" />
                    <span class="validation-text text-danger"></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3 contact-location">
                    <input type="text" id="c-location" class="form-control" placeholder="Location" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn-add" class="btn btn-success rounded-pill px-4">
          Add
        </button>
        <button id="btn-edit" class="btn btn-success rounded-pill px-4">
          Save
        </button>
        <button class="btn btn-danger rounded-pill px-4" data-bs-dismiss="modal">
          Discard
        </button>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Info Border with Icons</h4>
      <h5 class="card-subtitle mb-3 pb-3 border-bottom">
        made with bootstrap elements
      </h5>
      <form class="">
        <div class="form-floating mb-3">
          <input type="text" class="form-control border border-info" placeholder="Username" />
          <label><i data-feather="user" class="feather-sm text-info fill-white me-2"></i><span
              class="border-start border-info ps-3">Username</span></label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control border border-info" placeholder="Email" />
          <label><i data-feather="mail" class="feather-sm text-info fill-white me-2"></i><span
              class="border-start border-info ps-3">Email address</span></label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control border border-info" placeholder="Password" />
          <label><i data-feather="lock" class="feather-sm text-info fill-white me-2"></i><span
              class="border-start border-info ps-3">Password</span></label>
        </div>
        <!--/span-->
        <div class="col-md-6">
          <div class="mb-3">
            <label><i data-feather="lock" class="feather-sm text-info fill-white me-2"></i><span
                class="border-start border-info ps-3">Country</span></label>
            <select class="form-control form-select border border-info">
              <option>--Select your Country--</option>
              <option>India</option>
              <option>Sri Lanka</option>
              <option>USA</option>
            </select>
          </div>
        </div>
        <!--/span-->
        <div class="form-floating mb-3">
          <input type="password" class="form-control border border-info" placeholder="CPassword" />
          <label><i data-feather="lock" class="feather-sm text-info fill-white me-2"></i><span
              class="border-start border-info ps-3">Confirm Password</span></label>
        </div>


        <div class="d-md-flex align-items-center">
          <div class="form-check mr-sm-2">
            <input type="checkbox" class="form-check-input" id="sf2" value="check" />
            <label class="form-check-label" for="sf2">Remember Me</label>
          </div>

          <div class="mt-3 mt-md-0 ms-auto">
            <button type="submit" class="
                  btn btn-info
                  font-weight-medium
                  rounded-pill
                  px-4
                ">
              <div class="d-flex align-items-center">
                <i data-feather="send" class="feather-sm fill-white me-2"></i>
                Submit
              </div>

            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card-body">
  <h6 class="card-subtitle mb-3">
    To use add class in the table
    <code>.table-hover .table-warning</code> and add class
    <code>.bg-warning .text-white</code> in the
    <code>&lt;thead&gt;</code>.
  </h6>
  <div class="table-responsive">
    <table class="table table-hover table-warning table-borderless">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>