<form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" required formControlName="nombre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Estado" required formControlName="estado">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Orden" required formControlName="orden">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Familia</mat-label>
        <mat-select formControlName="familia">
            <mat-option  *ngFor="let familia of familias" [value]="familia">
                {{familia.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/pages/clase' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>