<form class="example-container" [formGroup]="form" #frmMarca="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
        <mat-label >Nombre</mat-label>

        <input matInput placeholder="Nombre" required formControlName="nombre">
        <mat-error  *ngIf="form.controls['nombre'].hasError('required')">
            Este campo es obligatorio
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label >Orden</mat-label>

        <input matInput placeholder="Orden" required formControlName="orden">
        <mat-error  *ngIf="form.controls['orden'].hasError('required')">
            Este campo es obligatorio
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label >Estado</mat-label>

        <input matInput placeholder="Estado" required formControlName="estado">
        <mat-error  *ngIf="form.controls['estado'].hasError('required')">
            Este campo es obligatorio
        </mat-error>
    </mat-form-field>
    

    
    <button mat-raised-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" (click)="cerrar()" type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>