<form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()" >

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <mat-label >Nombre</mat-label>

        <input matInput placeholder="Nombre" required formControlName="nombre">
        <mat-error  *ngIf="form.controls['nombre'].hasError('required')">
            Este campo es obligatorio
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label >Estado</mat-label>

        <input matInput placeholder="Estado" required formControlName="estado">

        <mat-error  *ngIf="form.controls['estado'].hasError('required')">
            Este campo es obligatoriooo
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Orden" required formControlName="orden">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Familia</mat-label>
        <mat-select formControlName="familia">
            <mat-option  *ngFor="let familia of familias" [value]="familia.idFamilia">
                {{familia.nombre}}
            </mat-option>
        </mat-select>
        <mat-error  *ngIf="form.controls['familia'].hasError('required')">
            Este campo es obligatorio
        </mat-error>
    </mat-form-field>
    <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Familia</mat-label>
        <input type="text"
               placeholder="Seleccione familia"
               aria-label="Familia"
               matInput
               [formControl]="O_Familia"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let familia of filteredOptions | async" [value]="familia.nombre">
            {{familia.nombre}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->


    <button mat-raised-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" (click)="cerrar()"><mat-icon>close</mat-icon>
        <span>Cancelar</span></button>
   
</form>

